<form action="" class="gy-3 form-settings" method="post"
      enctype="multipart/form-data"
      autocomplete="off">
    {% csrf_token %}
    <div class="row g-3 align-center">
        <div class="col-lg-5">
            <div class="form-group">
                <label class="form-label"
                       for="site-name">نوع الغرفة</label>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="form-group">
                <div class="form-control-wrap">
                    <select name="roomType" id="">
                        {% for type in roomType %}
                        {{ type }}
                        {% endfor %}

                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    {% for field in form %}
        <div class="row g-3 align-center">
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="form-label"
                           for="site-name">{{ field.label_tag }}</label>
                    <span class="form-note">{{ field.errors }}</span>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="form-group">
                    <div class="form-control-wrap">
                        {{ field }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <input type="hidden" name="hotel" value="{{ hotel.id }}">
    <div class="row g-3">
        <div class="col-lg-7">
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-lg btn-primary">حفظ
                </button>
                <a href="{% url 'my-hotel' %}" class="btn btn-outline-light ms-3"
                   style="padding: 11px 24px; font-size: 15px">
                    إلغاء
                </a>
            </div>
        </div>
    </div>
</form>
