{% extends 'dashboard/base.html' %}
{% load static %}
{% block sidbar %}
    {% include 'dashboard/partials/sideBar.html' %}
{% endblock %}
{% block page_title %}الغرف{% endblock %}
{% block page_title_p %}استعراض حالة الغرف، وإضافة وتعديل الغرف، وإضافة التفاصيل لكل غرفة.{% endblock %}
{% block page_title_btn %}
    <ul class="row g-gs">
        {% if roomType.count > 0 %}
            <li class="col-sm-6 col-lg-3">
                <a href="{% url 'add-room' hotel.slug %}" class="btn btn-primary">
                    <span>إضافة غرفة </span>
                    <em class="icon ni ni-property-add"></em>
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block content %}
    {% include 'main/partials/_alerts.html' %}

    <div class="nk-block">
        <div class="card card-bordered card-stretch">
            <div class="card-inner-group">
                <div class="card-inner position-relative card-tools-toggle">
                    <div class="card-title-group">
                        <div class="card-tools">
                            <div class="form-inline flex-nowrap gx-3">
                                <div class="form-wrap w-150px">
                                    <ul>
                                        <li>
                                            <a href="{% url 'room-grid' hotel.slug %}" class="">
                                                <em class="icon ni ni-grid-fill"></em>
                                                عرض مخطط
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .form-inline -->
                        </div><!-- .card-tools -->
                    </div><!-- .card-title-group -->
                </div><!-- .card-inner -->
                <div class="card-inner p-0">
                    <div class="nk-tb-list nk-tb-ulist">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid">
                                    <label class="custom-control-label" for="uid"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col"><span class="sub-text">رقم الغرفة</span></div>
                            <div class="nk-tb-col"><span class="sub-text">نوع الغرفة</span></div>
                            <div class="nk-tb-col tb-col-md"><span class="sub-text">رقم الطابق</span></div>
                            <div class="nk-tb-col tb-col-lg"><span class="sub-text">إدارة الغرفة؟</span></div>
                            <div class="nk-tb-col tb-col-md"><span class="sub-text">حالة الحجز</span>
                            </div>
                            <div class="nk-tb-col nk-tb-col-tools text-end">
                                <div class="dropdown">
                                    <a href="#"
                                       class="btn btn-xs btn-outline-light btn-icon dropdown-toggle"
                                       data-bs-toggle="dropdown" data-offset="0,5"><em
                                            class="icon ni ni-plus"></em></a>
                                    <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                        <ul class="link-tidy sm no-bdr">
                                            <li>
                                                <div class="custom-control custom-control-sm custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           checked="" id="bo">
                                                    <label class="custom-control-label"
                                                           for="bo">محجوزة</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-control custom-control-sm custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           checked="" id="open">
                                                    <label class="custom-control-label"
                                                           for="open">متاحة</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-control custom-control-sm custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="inac">
                                                    <label class="custom-control-label" for="inac">غير
                                                        مفعلة</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .nk-tb-item -->

                        {% if roomType.count > 0 %}
                            {% for room in rooms %}
                                <div class="nk-tb-item">
                                    <div class="nk-tb-col nk-tb-col-check">

                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="text-primary">{{ room.roomNo }}</span>
                                    </div>
                                    <div class="nk-tb-col">
                                    <span>{{ room.roomType.get_roomType_display }} <span
                                            class="dot dot-primary d-md-none ms-1"></span></span>
                                    </div>
                                    <div class="nk-tb-col tb-col-md">
                                        <span>{{ room.floor }}</span>
                                    </div>
                                    <div class="nk-tb-col tb-col-lg">
                                        <span>إدارتي</span>
                                    </div>
                                    <div class="nk-tb-col tb-col-md">
                                        {% if room.status == 1 %}
                                            <span class="tb-status text-danger">{{ room.get_status_display }}</span>
                                        {% elif room.status == 2 %}
                                            <span class="tb-status text-success">{{ room.get_status_display }}</span>
                                        {% elif room.status == 3 %}
                                            <span class="tb-status text-warning">{{ room.get_status_display }}</span>
                                        {% elif room.status == 4 %}
                                            <span class="tb-status text-primary">{{ room.get_status_display }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="nk-tb-col nk-tb-col-tools">
                                        <ul class="nk-tb-actions gx-1">
                                            <li>
                                                <div class="drodown">
                                                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                       data-bs-toggle="dropdown"><em
                                                            class="icon ni ni-more-h"></em></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li><a href="{{ room.get_absolute_url }}"><em
                                                                    class="icon ni ni-edit"></em><span>تعديل</span></a>
                                                            </li>
                                                            <li><a href="#"><em
                                                                    class="icon ni ni-trash"></em><span>حذف</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!-- .nk-tb-item  -->
                            {% empty %}
                                <div class="nk-tb-item">
                                    لا يوجد غرف
                                </div>
                            {% endfor %}


                        {% else %}
                              <div class="nk-tb-item">
                                    <div class="nk-tb-col nk-tb-col-check">
     <div class="row">
                                <div class="col w-100">
                                    <div class="example-alert w-100 m-2">
                                        <div class="alert alert-warning alert-icon" style="width: max-content">
                                            <em class="icon ni ni-alert-circle"></em>
                                            يجب إضافة نوع الغرف أولاً.
                                            <a href="{% url 'room-type' hotel.slug %}" class="alert-link">
                                                يمكنك إضافة نوع الغرف من هنا
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                                    </div>
                              </div>
                        {% endif %}

                    </div><!-- .nk-tb-list -->
                </div><!-- .card-inner -->


                <div class="card-inner">
                    <div class="nk-block-between-md g-3">
                        <div class="g">
                            <ul class="pagination justify-content-center justify-content-md-start">
                                <li class="page-item"><a class="page-link" href="#">السابق</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><span class="page-link"><em
                                        class="icon ni ni-more-h"></em></span></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item"><a class="page-link" href="#">7</a></li>
                                <li class="page-item"><a class="page-link" href="#">التالي</a></li>
                            </ul><!-- .pagination -->
                        </div>
                        <div class="g">
                            <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                <div>الصفحة</div>
                                <div>
                                    <select class="form-select js-select2" data-search="on"
                                            data-dropdown="xs center">
                                        <option value="page-1">1</option>
                                        <option value="page-2">2</option>
                                        <option value="page-4">4</option>
                                        <option value="page-5">5</option>
                                        <option value="page-6">6</option>
                                        <option value="page-7">7</option>
                                        <option value="page-8">8</option>
                                        <option value="page-9">9</option>
                                        <option value="page-10">10</option>
                                        <option value="page-11">11</option>
                                        <option value="page-12">12</option>
                                        <option value="page-13">13</option>
                                        <option value="page-14">14</option>
                                        <option value="page-15">15</option>
                                        <option value="page-16">16</option>
                                        <option value="page-17">17</option>
                                        <option value="page-18">18</option>
                                        <option value="page-19">19</option>
                                        <option value="page-20">20</option>
                                    </select>
                                </div>
                                <div>من 102</div>
                            </div>
                        </div><!-- .pagination-goto -->
                    </div><!-- .nk-block-between -->
                </div><!-- .card-inner -->
            </div><!-- .card-inner-group -->
        </div><!-- .card -->
    </div><!-- .nk-block -->

{% endblock %}