{% extends 'dashboard/base.html' %}
{% load static %}

{% block sidbar %}
{% include 'customer/customer_sidebar.html' %}
{% endblock %}

<!-- Nav settings  -->
{% block navSettings %}
<li class="dropdown user-dropdown">
    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
        <div class="user-toggle">
            <div class="user-avatar sm">
                <em class="icon ni ni-user-alt"></em>
            </div>
            <div class="user-info d-none d-md-block">
                <div class="user-status">الاعدادات</div>
                <div class="user-name dropdown-indicator">{{ request.user.first_name }}</div>
            </div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
            <div class="user-card">
                <div class="user-avatar">
                    <span>AB</span>
                </div>
                <div class="user-info">
                    <span class="lead-text">{{ request.user.first_name }}</span>
                    <span class="sub-text">{{ request.user.email }}</span>
                </div>
            </div>
        </div>
        <div class="dropdown-inner">
            <ul class="link-list">
                <li><a href="{% url 'customer-panel-profile' %}"><em
                        class="icon ni ni-user-alt"></em><span>الملف الشخصي</span></a>
                </li>
                
                <li><a class="dark-switch" href="#"><em
                        class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
            </ul>
        </div>
        <div class="dropdown-inner">
            <ul class="link-list">
                <li><a href="{% url 'main:logout' %}"><em
                        class="icon ni ni-signout"></em><span>تسجيل الخروج</span></a>
                </li>
            </ul>
        </div>
    </div>
</li>
{% endblock navSettings %}
{% block page_title %}لوحة المستخدم {% endblock %}
{% block content %}
<!-- messages  -->

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<!-- end message -->

<!-- content @e -->
{% endblock %}