{% load static %}

<!-- sidebar @s -->
<div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-menu-trigger">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
                    class="icon ni ni-arrow-left"></em></a>
            <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em
                    class="icon ni ni-menu"></em></a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element nk-sidebar-body">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <!-- .nk-menu-item -->
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">العمليات والمتابعة</h6>
                    </li>

                    <!-- Booking Sidebar -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span>
                            <span class="nk-menu-text">الحجوزات</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="{% url 'customer-booking'%}" class="nk-menu-link"><span
                                        class="nk-menu-text">قائمة حجوزتي</span></a>
                            </li>

                        </ul>
                    </li>

                    <!-- Payments  -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
                            <span class="nk-menu-text">المدفوعات</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="{% url 'customer-payments'%}" class="nk-menu-link"><span class="nk-menu-text">الدفعيات</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a class="nk-menu-link" href="#" disabled=""><span class="nk-menu-text">قائمة الفواتير</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a class="nk-menu-link" href="#"><span class="nk-menu-text">تفاصيل الفواتير</span></a>
                            </li>
                        </ul>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="html/hotel/support.html" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-chat-circle-fill"></em></span>
                            <span class="nk-menu-text">الدعم</span>
                        </a>
                    </li>
                    <!-- .nk-menu-item -->
                </ul><!-- .nk-menu -->
            </div><!-- .nk-sidebar-menu -->
        </div><!-- .nk-sidebar-content -->
    </div><!-- .nk-sidebar-element -->
</div>
<!-- sidebar @e -->