<div class="container">
  <div class="row">
    <div class="col">
      <div class="nk-content">
        <div class="container-fluid">
          <div class="nk-content-inner">
            <div class="nk-content-body">
              <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between g-3">
                  <div class="nk-block-head-content">
                    {% if hotel.total_room%}
                    <h6 class="nk-block-title page-title" style="font-weight: normal">

                      الغرف المتاحة <span class="color-lahmi">{{ selected_rooms.count}} غرفة</span>
                    </h6>
                    {%else%}
                    <h6 class="nk-block-title page-title" style="font-weight: normal">

                      الغرف المتاحة <span class="color-lahmi">لاتوجد غرف متاحة</span>
                    </h6>
                    {%endif%}
                  </div>
                  <!-- .nk-block-head-content -->
                </div>
                <!-- .nk-block-between -->
              </div>
              <!-- .nk-block-head -->
              <div class="nk-block">
                <div class="card card-bordered card-stretch">
                  <div class="card-inner-group">

                    <!-- .card-inner -->
                    <div class="card-inner p-0 text-center">
                      <div class="nk-tb-list nk-tb-ulist">
                        <div class="nk-tb-item nk-tb-head">

                          <div class="nk-tb-col">
                            <span class="sub-text">نوع الغرفة</span>
                          </div>
                          <div class="nk-tb-col">
                            <span class="sub-text">الاطلالة</span>
                          </div>
                          <div class="nk-tb-col tb-col-lg">
                            <span class="sub-text">خيارات الغرفة</span>
                          </div>
                          <div class="nk-tb-col tb-col-mb">
                            <span class="sub-text">سعر الليلة الواحدة</span>
                          </div>
                          <div class="nk-tb-col tb-col-mb">
                            <span class="sub-text">عدد استيعاب الغرفة</span>
                          </div>
                          <div class="nk-tb-col tb-col-md">
                            <span class="sub-text">اختر الغرفة</span>
                          </div>
                        </div>

                        <!-- Room Loop -->

                        {% for room in selected_rooms %}
                        <!-- .nk-tb-item -->
                        <div class="nk-tb-item">

                          <!-- RoomType -->
                          <div class="nk-tb-col">
                            <span class="text-primary">{{ room.roomType}}</span>
                          </div>
                          <!-- Room View -->
                          <div class="nk-tb-col">
                            <span>{%if room.is_view %} على الحرم{%endif%}<span
                                class="dot dot-success d-md-none ms-1"></span>
                            </span>
                          </div>
                          <!-- Room Options -->
                          <div class="nk-tb-col tb-col-lg">
                            <p class="m-0">ROOM ONLY</p>
                            <p class="text-danger">
                              غير قابل للاسترجاع
                              <a placement="auto" class="btn-pop-hover">
                                <i class="fal fa-info-circle"></i>
                              </a>
                            </p>
                          </div>

                          <!-- Room Price -->
                          <div class="nk-tb-col tb-col-mb">
                            <span class="tb-amount">{{ room.price }}<span class="currency">SAR</span></span>
                          </div>
                          <!-- RoomType -->
                          <div class="nk-tb-col">
                            <span class="text-primary">{{ room.capacity}}</span>
                          </div>
                          <div class="nk-tb-col nk-tb-col-tools">
                            <div>
                              <a href="{% url 'main:room-details' hotel.slug room.id%}"
                                class="btn btn-round btn-outline-primary"><span>تفاصيل الغرفة</span></a>
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                      </div>

                      <!-- .nk-tb-list -->
                    </div>
                    <!-- .card-inner -->
                  </div>
                  <!-- .card-inner-group -->
                </div>
                <!-- .card -->
              </div>
              <!-- .nk-block -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>