
<form method="get" action="{% url 'main:result'%}">
    <div class="container p-3 ">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="form-control-wrap">
                        <div class="form-text-hint">
                            <span class="overline-title">
                                <em class="icon ni ni-map-pin-fill" style="font-size: large;"></em>
                            </span>
                        </div>
                        <select class="form-select form-control" id="{{ forloop.counter }}" style="margin-left: 3%" name="city">
                            <option selected value="both">اختر الوجهة</option>
                            <option value="Makkah">مكة المكرمة</option>
                            <option value="Madinah">المدينة المنورة
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="form-control-wrap">
                        <div class="form-text-hint">
                            <span class="overline-title">
                                <em class="icon ni ni-globe" style="font-size: large;"></em>
                            </span>
                        </div>
                        {{ form.nationality }}
                       
                        </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="form-control-wrap focused">
                        <div class="form-text-hint">
                            <span class="overline-title">
                                <em class="icon ni ni-calendar" style="font-size: large;"></em>
                            </span>
                        </div>
                        <input type="text" name="datefilter"
                            class="form-control form-control-xl  form-control-outlined date-picker"
                            id="outlined-date-picker" autocomplete="off"
                            style="height: 40px !important; font-size: small; padding: 2px; text-align: center">
                        <label class="form-label-outlined xl" for="outlined-date-picker">تاريخ
                            الوصول والمغادرة</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="form-control-warp">
                        <div class="input-group">
                            <div class="form-text-hint" style="z-index: 999">
                                <span class="overline-title">
                                    <em class="icon ni ni-users" style="font-size: large;"></em>
                                </span>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-light btn-dim">
                                    عدد النزلاء
                                </button>
                            </div>
                            <!-- Above there a field for nationality + date  -->
                            <input class="form-control"
                            data-bs-toggle="modal"
                            data-bs-target="#modalDefault"
                                name="guests"
                                id="guests"
                                value="0">
                                <input type="text" hidden id="mainSingleRoom" name="single_room" value="0" />
                                <input type="text" hidden id="mainDoubleRoom" name="double_room" value="0" />
                                <input type="text" hidden id="mainTripleRoom" name="triple_room" value="0">
                                <input type="text" hidden id="mainQuadrupleRoom" name="quadruple_room" value="0">
                                <input type="text" hidden id="mainQuintupleRoom" name="quintuple_room" value="0">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="form-control-wrap">
                        <input type="hidden" name="package_id" value="{{ season.id }}">
                        <input type="submit" class="btn btn-outline-light btn-block custom-button" value="بحث">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>