{% extends 'dashboard/base.html' %}
{% load static %}
{% block sidbar %}
    {% include 'dashboard/partials/sideBar.html' %}
{% endblock %}
{% block content %}
<div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">تعديل الحجز</h3>
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="card card-bordered">
                                        <div class="card-inner">
                                            <div class="row gy-4">
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label" for="first-name">الاسم الأول</label>
                                                        <input type="text" class="form-control" id="first-name" placeholder="الأسم الأول" value="سلطان">
                                                    </div>
                                                </div><!--col-->
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label" for="last-name">اسم العائلة</label>
                                                        <input type="text" class="form-control" id="last-name" placeholder="اسم العائلة" value="العفيفي">
                                                    </div>
                                                </div><!--col-->
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label">الجنس</label>
                                                        <div class="form-control-wrap">
                                                            <select class="form-select js-select2" data-placeholder="Select multiple options">
                                                                <option value="option_select_gender">ذكر</option>
                                                                <option value="option_select_gender">أنثى</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label" for="phone-no">رقم الجوال</label>
                                                        <input type="text" class="form-control" id="phone-no" placeholder="رقم الجوال" value="+966 562684141">
                                                    </div>
                                                </div><!--col-->
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label" for="email">البريد الإلكتروني</label>
                                                        <input type="email" class="form-control" id="email" placeholder="البريد الإلكتروني" value="info@aa.com">
                                                    </div>
                                                </div><!--col-->
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label" for="address">العنوان</label>
                                                        <input type="text" class="form-control" id="address" placeholder="Address" value="102 An Nafis">
                                                    </div>
                                                </div><!--col-->
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label">رفع الوثائق</label>
                                                        <div class="form-control-wrap">
                                                            <div class="form-file">
                                                                <input type="file" multiple class="form-file-input" id="customFile">
                                                                <label class="form-file-label" for="customFile">اختر ملف</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!--col-->
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label">الباقة</label>
                                                        <div class="form-control-wrap">
                                                            <select class="form-select js-select2" data-placeholder="Select multiple options">
                                                                <option value="option_select_name">Continental</option>
                                                                <option value="option_select_name">Honeymoon Package</option>
                                                                <option value="option_select_name">Vacation Package</option>
                                                                <option value="option_select_name">Spring Package</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label">نوع الغرفة</label>
                                                        <div class="form-control-wrap">
                                                            <select class="form-select js-select2">
                                                                <option value="default_option">Super Delux</option>
                                                                <option value="option_select_room_type">Delux</option>
                                                                <option value="option_select_room_type">Super Delux</option>
                                                                <option value="option_select_room_type">Single</option>
                                                                <option value="option_select_room_type">Double</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div><!--col-->
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label">تاريخ الوصول</label>
                                                        <div class="form-control-wrap">
                                                            <div class="form-icon form-icon-right">
                                                                <em class="icon ni ni-calendar"></em>
                                                            </div>
                                                            <input type="text" class="form-control date-picker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" value="10 Feb 2020">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label">تاريخ المغادرة</label>
                                                        <div class="form-control-wrap">
                                                            <div class="form-icon form-icon-right">
                                                                <em class="icon ni ni-calendar"></em>
                                                            </div>
                                                            <input type="text" class="form-control date-picker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" value="12 Feb 2020">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-xxl-3">
                                                    <div class="form-group">
                                                        <label class="form-label" for="total-person">إجمالي عدد الأشخاص</label>
                                                        <input type="number" class="form-control" id="total-person" placeholder="إجمالي عدد الأشخاص" value="02">
                                                    </div>
                                                </div><!--col-->
                                                <div class="col-md-12">
                                                    <div class="form-gupro">
                                                        <label class="form-label" for="default-textarea">ملاحظات</label>
                                                        <div class="form-control-wrap">
                                                            <textarea class="form-control no-resize" id="default-textarea"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">حفظ التعديل</button>
                                                    </div>
                                                </div><!--col-->
                                            </div><!--row-->
                                        </div><!-- .card-inner-group -->
                                    </div><!-- .card -->
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}