<div class="row gy-4">
    <form action="{% url 'booking-edit' hotel.slug booking.id %}" method="post" class="gy-3 form-settings">
        {% csrf_token %}
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label" for="first-name">الاسم الأول</label>
                <input type="text" class="form-control" disabled id="first-name" placeholder="الأسم الأول" value="{{ booking.customer.full_name}}">
            </div>
        </div><!--col-->
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label" for="last-name">اسم العائلة</label>
                <input type="text" class="form-control" id="last-name" placeholder="اسم العائلة" value="العفيفي">
            </div>
        </div><!--col-->
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label">الجنس</label>
                <div class="form-control-wrap">
                    <select class="form-select js-select2" data-placeholder="Select multiple options">
                        <option value="option_select_gender">ذكر</option>
                        <option value="option_select_gender">أنثى</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label" for="phone-no">رقم الجوال</label>
                <input type="text" class="form-control" disabled id="phone-no" placeholder="رقم الجوال" value="{{ booking.customer.phone}}">
            </div>
        </div><!--col-->
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label" for="email">البريد الإلكتروني</label>
                <input type="email" disabled class="form-control" id="email" placeholder="البريد الإلكتروني" value="{{ booking.customer.user.email}}">
            </div>
        </div><!--col-->
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label" for="address">العنوان</label>
                <input type="text" class="form-control" id="address" placeholder="Address" value="102 An Nafis">
            </div>
        </div><!--col-->
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label">رفع الوثائق</label>
                <div class="form-control-wrap">
                    <div class="form-file">
                        <input type="file" multiple class="form-file-input" id="customFile">
                        <label class="form-file-label" for="customFile">اختر ملف</label>
                    </div>
                </div>
            </div>
        </div><!--col-->
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label">الباقة</label>
                <div class="form-control-wrap">
                    <select disabled class="form-select js-select2" data-placeholder="Select multiple options">
                        <option value="option_select_name">{{ booking.package}}</option>
                        
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label">{{ form.room.label_tag}}</label>
                <div class="form-control-wrap">
                    {{ form.room }}
                    <!-- <select class="form-select js-select2">
                        <option value="default_option">Super Delux</option>
                        <option value="option_select_room_type">Delux</option>
                        <option value="option_select_room_type">Super Delux</option>
                        <option value="option_select_room_type">Single</option>
                        <option value="option_select_room_type">Double</option>
                    </select> -->
                </div>
            </div>
        </div><!--col-->
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label">تاريخ الوصول</label>
                <div class="form-control-wrap">
                    <div class="form-icon form-icon-right">
                        <em class="icon ni ni-calendar"></em>
                    </div>
                    <input type="text" class="form-control date-picker" data-date-format="yyyy-mm-dd"
                        placeholder="yyyy-mm-dd" disabled value="{{ booking.start_date }}">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label">تاريخ المغادرة</label>
                <div class="form-control-wrap">
                    <div class="form-icon form-icon-right">
                        <em class="icon ni ni-calendar"></em>
                    </div>
                    <input type="text" class="form-control date-picker" data-date-format="yyyy-mm-dd"
                        placeholder="yyyy-mm-dd" disabled value="{{ booking.start_date }}">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="form-group">
                <label class="form-label" for="total-person">إجمالي عدد الأشخاص</label>
                <input type="number" class="form-control" id="total-person" placeholder="إجمالي عدد الأشخاص" value="02">
            </div>
        </div><!--col-->
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label" for="default-textarea">ملاحظات</label>
                <div class="form-control-wrap">
                    <textarea class="form-control no-resize" id="default-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label class="form-label">{{form.status.label_tag}}</label>
                <div class="form-control-wrap">
                    {{ form.status }}
                    <!-- <select class="form-select js-select2">
                        <option value="default_option"> في الانتظار</option>
                        <option value="11">تمت المعالجة</option>
                        <option value="1">تم الرفض</option>
                    </select> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">حفظ التعديل</button>
            </div>
        </div>
    </form>
</div>