{% extends 'main/base.html' %} {% load static %} {% block content %}
<style>
  .filter-section {
    border-top-right-radius: var(--bs-card-inner-border-radius);
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-color: rgba(0, 0, 0, 0.125) !important;
    background: rgba(49, 53, 65, 0.03) !important;
    padding: 2%;
    border: 1px solid grey;
    height: 100vh;
  }

  .card-inner {
    background: #fff !important;
    padding: 2%;
  }

  .results {
    border-color: white;
  }

  .search-filter p {
    font-weight: bold;
  }

  .search-filter p > span {
    font-weight: normal;
  }

  .box-shdow {
    border: 1px solid #d4d2d2;
    box-shadow: inset 0 0 10px 0 rgb(155 24 143 / 5%);
  }

  p {
    font-size: 10pt;
  }

  .result-price-box {
    position: relative;
    display: grid;
    padding-top: 5%;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(64, 67, 77, 0.37);
    grid-template-rows: 10%;
    transition: all 0.3s ease-in-out;
    align-items: center;
    text-align: center !important;
  }

  .nk-msg-tags li > span .icon {
    color: rgba(189, 179, 161, 0.92);
    margin-left: 0.25rem;
  }

  .rating .icon {
    font-size: 0.9rem;
    margin-top: 10px;
  }

  .product-rating-filter .icon {
    font-size: 1rem;
    margin-right: 8px;
  }

  .nk-msg-tags li {
    /* padding: 0 0.75rem; */
    color: #89929d;
    margin-top: 8px;
  }

  .custom-control-label {
    font-size: 13px;
  }

  .custom-control-input {
    height: 0.25px;
    width: 0.25px;
  }

  .filter-section-star {
    border-bottom: 1px solid #dbdfea;
    padding-bottom: 10px;
  }

  .map-show-btn {
    background: none;
    border: none;
    font-size: 14pt;
  }

  .hotel-gallery {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: auto;
    grid-column-gap: 2px;
  }

  .hotel-gallery-img {
    max-height: 350px;
    padding: 2px;
  }

  .color-lahmi {
    color: #9a1550;
    font-size: 12pt;
  }
</style>
<div class="row box-shdow p-3">
  <div class="col">
    <nav>
      <ul class="breadcrumb justify-content-center text-center">
        <li class="breadcrumb-item"><a href="#">مكة المكرمة</a></li>
        <li class="breadcrumb-item active">فندق ابيات النسيم</li>
      </ul>
    </nav>
  </div>
</div>
<div class="row text-center">
  <div class="row text-center justify-content-center p-2">
    <div class="col-lg-5">
      <div class="row justify-content-center">
        <div class="col-3 ms-5">
          <div class="product-thumb">
            <a href="{{ hotel.get_hotel_page}}">
              <img
                class="card-img-top mt-1"
                style="max-width: 100px !important"
                src="{% static '/images/product/hotel-1.webp' %}"
                alt=""
              />
            </a>
            <ul class="product-actions">
              <li>
                <a href="#"><em class="icon ni ni-cart"></em></a>
              </li>
              <li>
                <a href="#"><em class="icon ni ni-heart"></em></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col" style="text-align: right">
          <div class="product-rating">
            <ul class="rating" style="font-size: x-small">
              <li><em class="icon ni ni-star-fill"></em></li>
              <li><em class="icon ni ni-star-fill"></em></li>
              <li><em class="icon ni ni-star"></em></li>
              <li><em class="icon ni ni-star"></em></li>
              <li><em class="icon ni ni-star"></em></li>
            </ul>
          </div>
          <h5
            class="product-title"
            style="text-align: right; font-weight: normal"
          >
            <a href="{{hotel.get_hotel_page}}"> {{hotel.hotel_name}}</a>
            <p
              class="mt-1 text-gray"
              style="font-weight: normal; font-size: 10pt"
            >
              شارع اجياد، مكة المكرمة
            </p>
          </h5>
        </div>
      </div>
    </div>
    <div class="col mt-4 ms-5" style="text-align: right !important">
      <em class="icon ni ni-map-pin" style="font-size: 20pt"></em>
      <button class="map-show-btn">اعرض الخريطة</button>
    </div>
    <div class="col mt-2">
      <div class="h2 m-0" style="color: #9a1550">
        <small class="text-muted del fs-13px">169</small>
        120
        <span style="font-size: 11px; font-weight: lighter">
          SAR، لليلة الواحدة
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row py5">
  <div class="col">
    <div class="row">
      <div class="col-lg-3 col-md-6 hotel-gallery-img">
        <img
          style=""
          src="https://storage.googleapis.com/legate-development/content-test-new/4858/al-murjan-crom-hotel-makkah-saudi-arabia-9.jpg"
        />
      </div>
      <div class="col-lg-3 col-md-6 hotel-gallery-img">
        <img
          style=""
          src="https://storage.googleapis.com/legate-development/content-test-new/4858/al-murjan-crom-hotel-makkah-saudi-arabia-3.jpg"
        />
      </div>
      <div class="col-lg-3 col-md-6 hotel-gallery-img">
        <img
          style=""
          src="https://storage.googleapis.com/legate-development/content-test-new/4858/al-murjan-crom-hotel-makkah-saudi-arabia-7.jpg"
        />
      </div>
      <div class="col-lg-3 col-md-6 hotel-gallery-img">
        <img
          style=""
          src="https://storage.googleapis.com/legate-development/content-test-new/4858/al-murjan-crom-hotel-makkah-saudi-arabia-5.jpg"
        />
      </div>
      <div class="col-lg-3 col-md-6 hotel-gallery-img">
        <img
          style=""
          src="https://storage.googleapis.com/legate-development/content-test-new/4858/al-murjan-crom-hotel-makkah-saudi-arabia-6.jpg"
        />
      </div>
      <div class="col-lg-3 col-md-6 hotel-gallery-img">
        <img
          style=""
          src="https://storage.googleapis.com/legate-development/content-test-new/4858/al-murjan-crom-hotel-makkah-saudi-arabia-4.jpg"
        />
      </div>
      <div class="col-lg-3 col-md-6 hotel-gallery-img">
        <img
          style=""
          src="https://storage.googleapis.com/legate-development/content-test-new/4858/al-murjan-crom-hotel-makkah-saudi-arabia-11.jpg"
        />
      </div>
      <div class="col-lg-3 col-md-6 hotel-gallery-img">
        <img
          style=""
          src="https://storage.googleapis.com/legate-development/content-test-new/4858/al-murjan-crom-hotel-makkah-saudi-arabia-4.jpg"
        />
      </div>
    </div>
  </div>
</div>
<div class="row box-shdow text-center" style="border-top: none">
  <div class="col search-filter" style="height: 10vh">
    <div class="row py-4 pe-7 ps-7">
      <div class="col">
        <p>الوجهة: <span>{% if main_search_params.city == 'Makkah' %}مكة المكرمة{%elif main_search_params.city == 'Madinah'%}المدينة المنورة{%else%}غير محددة{%endif%}</span></p>
      </div>
      <div class="col-4">
        <p>
          تاريخ الوصول: <span> {{ main_search_params.start_date}}م</span> إلى تاريخ
          <span> {{ main_search_params.end_date}}م</span>
        </p>
      </div>
      <div class="col">
        <p>عدد الأشخاص: <span> {% if main_search_params.guests %}{{ main_search_params.guests}}{%else%}غير محدد{%endif%}</span></p>
      </div>
      <div class="col">
        <a href="" class="btn btn-outline-secondary">تعديل البحث</a>
      </div>
    </div>
  </div>
</div>

<!-- Room Component -->

                      {% include 'main/components/room_component.html' with hotel=hotel %}
                      
<!-- End Room -->
{% if user.is_authenticated %}
    <!-- User is authenticated, show content for authenticated users -->
    <div class="container">
      <div class="row">
          <div class="row justify-content-center p-3">
              <div class="col-lg-8 m-3">
                  <div class="row mb-3">
                      <div class="col box-shdow">
                          <h5 class="">بيانات الحجز</h5>
                          <br>
                          <form method="post" action="{% url 'main:booking-add' hotel.slug%}">
                              {% csrf_token %}
                              <div class="row g-4">
                                  <div class="col-lg-12">
                                      <div class="form-group">
                                          <label class="form-label" for="full-name-1">الاسم الكامل</label>
                                          <div class="form-control-wrap">
                                              <input type="text" value="Test guests" class="form-control" id="full-name-1" name="full_name" required>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="form-group">
                                          <label class="form-label" for="email-address-1">البريد الإلكتروني</label>
                                          <div class="form-control-wrap">
                                              <input type="text" value="example@gmail.com" class="form-control" name="email" id="email-address-1" required>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="form-group">
                                          <label class="form-label" for="phone-no-1">رقم الجوال</label>
                                          <div class="form-control-wrap">
                                              <input type="text" value="+96612345678"class="form-control" name="phone" id="phone-no-1" required>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="form-group">
                                          <ul class="custom-control-group g-3 align-center">
                                              <li>
                                                  <div class="custom-control custom-control-sm custom-checkbox">
                                                      <input type="checkbox" class="custom-control-input"
                                                             id="pay-cash-1">
                                                      <label class="custom-control-label"
                                                             for="pay-cash-1">
                                                          أقوم بهذا الحجز نيابةًً عن شخص آخر ولا أنوي الإقامة في هذا
                                                          الفندق.
                                                      </label>
                                                  </div>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="row mt-5 justify-content-center" style="height: 20vh">
                                      <div class="col text-center">
                                          <div class="form-group">
                                              <button type="submit" class="btn btn-xl btn-primary">أرسال الطلب</button>
                                              <p class="pt-1" style="font-size: small">
                                                  بإكمال هذه العملية ، انت تقر بأنك قمت بمراجعة وقبول الشروط المذكورة في
                                                  الرابط
                                                  <a href="" class="color-lahmi sq-md" style="font-size: small">الشروط
                                                      والأحكام</a>.
    
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col m-3">
                  <div class="row mb-3">
                      <div class="col box-shdow">
                          <h5 class="p-0 m-0">تفاصيل الحجز</h5>
                          <br>
                          <div class="product-rating" style="font-size: 5px">
                              <ul class="rating">
                                  <li><em class="icon ni ni-star-fill"></em></li>
                                  <li><em class="icon ni ni-star-fill"></em></li>
                                  <li><em class="icon ni ni-star"></em></li>
                                  <li><em class="icon ni ni-star"></em></li>
                                  <li><em class="icon ni ni-star"></em></li>
                              </ul>
                          </div>
                          <p class="product-title m-0" style="text-align: right; font-size: 12pt">
                              <a href="html/product-details.html">
                                  {{ hotel.hotel_name}}
                              </a>
                          <p class="text-gray" style="font-weight: normal; font-size: 9pt">
                              {{hotel.address}}
                          </p>
                          <div class="row">
                              <div class="col">
                                  <div class="d-flex flex-column mb-3">
                                      <div class=" "><em class="icon ni ni-calendar"></em></div>
                                      <div class=" ">09-03-2023</div>
                                  </div>
                              </div>
                              <div class="col">
                                  <div class="d-flex flex-column mb-3">
                                      <div class=" "><em class="icon ni ni-moon"></em></div>
                                      <div class=" ">1 ليلة</div>
                                  </div>
                              </div>
                              <div class="col">
                                  <div class="d-flex flex-column mb-3">
                                      <div class=" "><em class="icon ni ni-calendar"></em></div>
                                      <div class=" ">10-03-2023</div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                            {% for room in hotel.rooms %}  
                            <div class="col">
                                  <br>
                                  
                                  <p class="fw-bold m-0">{{ room.roomType}}</p>
                                  <p class="m-0 text-soft">ROOM ONLY</p>
                                  <p class="text-danger">
                                      غير قابل للاسترجاع
                                      <a placement="auto" class="btn-pop-hover">
                                          <i class="fal fa-info-circle"></i>
                                      </a>
                                  </p>
                                  <span class="tb-amount fw-bold">{{ room.price}}<span
                                          class="currency"> SAR</span>
                                  </span>
                              </div>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col box-shdow">
                          <h5 class="p-0 m-0">ملخص السعر</h5>
                          <br>
                          <table style="font-size: 13px; width: 100%">
                              <tr>
                                  <td>ضريبة القيمة المضافة</td>
                                  <td class="text-sm-end">SAR 7.32</td>
                              </tr>
                              <tr>
                                  <td>الإجمالي شامل ضريبة القيمة المضافة</td>
                                  <td class="text-sm-end">SAR 163.90</td>
                              </tr>
                              <tr>
                                  <td>كود الخصم</td>
                                  <td class="text-sm-end">SAR 17.08</td>
                              </tr>
                          </table>
    
                          <hr>
                          <div class="row">
                              <div class="col">
                                  <h6 class="fw-bold">السعر الإجمالي</h6>
                              </div>
                              <div class="col">
                                  <h5 class="text-teal text-lg-end">SAR 146.82</h5>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    {% else %}
    
    
    <div class="container">
      
      <div class="row">
        
          <div class="row justify-content-center p-3">
              <div class="col-lg-8 m-3">
                  <div class="row mb-3">
                      <div class="col box-shdow">
                        <div class="header-caption text-center">
                        <h3 class="fw-medium text-danger mt-3">الرجاء تسجيل الدخول اولا او انشاء حساب</h3>
                      </div>
                          <br>
                          <form method="post" action="#" next="/">
                              <div class="row g-4">
                                  
                                  <div class="row mt-5 justify-content-center" style="height: 20vh">
                                      <div class="col text-center">
                                          <div class="form-group">
                                              <a href="{% url 'main:login' %}"><button type="button" class="btn btn-xl btn-primary btn-block">تسجيل الدخول</button></a>
                                          </div>
                                      </div>
                                      <div class="col text-center">
                                          <div class="form-group">
                                              <a href="{% url 'main:register'%}"><button type="button" class="btn btn-xl btn-primary btn-block">انشاء حساب جديد</button></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>

          </div>
      </div>
    </div>
  </div>

    {% endif %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="nk-content">
        <div class="container-fluid">
          <div class="nk-content-inner">
            <div class="nk-content-body">
              <div class="row">
                <div class="col-lg-8 box-shdow ms-2 p-2">
                  <h4 style="font-weight: normal">عن الفندق</h4>
                  <h6 class="mt-4" style="font-weight: normal">عن الفندق</h6>
                  <p>
                    الإقامة في فندق الدانة الماسية مكة المكرمة في مكة المكرمة
                    تضعك على بُعد 5 دقائق بالسيارة من الحرم المكي وبئر زمزم.
                    الإقامة في هذا الفندق، منشأة تتّسم بتصنيف 4 نجوم، تضعك على
                    بُعد ٤٫٦ كم من الكعبة و ٧٫٢ كم من مكة مول.
                  </p>

                  <h6 class="mt-4" style="font-weight: normal">الغرف</h6>
                  <p>
                    اشعر وكأنك في منزلك عند الإقامة في واحدة من 611 غرفة ضيافة
                    مكيفة، والتي تحتوي على ثلاجات وتلفزيون بشاشة مسطحة. تتاح لك
                    اتصال لاسلكي بالإنترنت مجانًا لتبقى على اتصال دائمًا،
                    بالإضافة إلى قنوات فضائية من أجل متعتك. تضم الغرف حمامات
                    خاصة بها تجهيزات دش مع مستلزمات مجانية للعناية الشخصية
                    وبيديه. تضم وسائل الراحة خزنات ومكاتب، وتتوفر خدمة تدبير
                    الغرف يوميًا.
                  </p>

                  <h6 class="mt-4" style="font-weight: normal">
                    الخدمات الترفيهية
                  </h6>
                  <p>
                    تمتع بوسائل الراحة المتاحة في هذه المنشأة والتي تضم إنترنت
                    لاسلكي مجاناً وخدمات الاستعلامات والإرشاد وقاعة رقص.
                  </p>

                  <h6 class="mt-4" style="font-weight: normal">تناول الطعام</h6>
                  <p>
                    استمتع بوجبة في مطعم هذا الفندق، أو أقم هنا للاسترخاء
                    والاستفادة من خدمة الغرف (خلال ساعات محدودة). يتم تقديم فطور
                    أوروبي يوميًا من 6:30 صباحاً إلى 10:30 صباحاً مقابل رسم
                    إضافي.
                  </p>

                  <h6 class="mt-4" style="font-weight: normal">
                    خدمات الأعمال ووسائل الراحة الأخرى
                  </h6>

                  <p>
                    تضم وسائل الرائحة المميزة مركز لرجال الأعمال مفتوح 24 ساعة
                    وخدمة سريعة لإجراءات تسجيل الوصول وخدمة سريعة لإنهاء إجراءات
                    المغادرة. يتاح خدمة مواقف السيارات لفترة محدودة داخل موقع
                    المنشأة.
                  </p>
                </div>
                <div
                  class="col box-shdow ms-2 me-2 p-2"
                  style="height: min-content"
                >
                  <h4 style="font-weight: normal">سياسات الفندق</h4>
                  <h6 class="mt-4" style="font-weight: normal">سياسة الدخول</h6>
                  <p>وقت الدخول من , وقت الخروج حتي</p>
                  <h6 class="mt-4" style="font-weight: normal">
                    سياسة الإلغاء
                  </h6>
                  <p>
                    قد تختلف سياسات الإلغاء حسب الموسم أو حسب نوع الفندق أو
                    الغرفة. يمكنك مراجعة سياسة الفندق أثناء الحجز.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
