{% extends "main/base.html" %}

{% block content %}

    {% load crispy_forms_tags %}

    <div class="nk-content ">
        <div class="nk-block nk-block-middle nk-auth-body wide-xs">
            <div class="card card-bordered">
                <div class="card-inner card-inner-lg">
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h4 class="nk-block-title">إنشاء حساب</h4>
                            <div class="nk-block-des">
                                <p>إنشاء حساب جديد لمنصة ايلاف ان</p>
                            </div>
                        </div>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label" for="name">الاسم</label>
                            <div class="form-control-wrap">
                                <input type="text" name="first_name" class="form-control form-control-lg" id="name"
                                       placeholder="أدخل الاسم الكامل">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="email">البريد الإلكتروني</label>
                            <div class="form-control-wrap">
                                <input type="text" name="email" class="form-control form-control-lg" id="email"
                                       placeholder="أدخل البريد الإلكتروني">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">كلمة المرور</label>
                            <div class="form-control-wrap">
                                <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                                    <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                    <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                </a>
                                <input type="password" name="password1" class="form-control form-control-lg"
                                       id="password" placeholder="أدخل كلمة المرور">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">تأكيد كلمة المرور</label>
                            <div class="form-control-wrap">
                                <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="id_password2">
                                    <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                    <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                </a>
                                <input type="password" name="password2" class="form-control form-control-lg"
                                       id="id_password2" placeholder="إعادة كلمة المرور">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-control-xs custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox">
                                <label class="custom-control-label" for="checkbox">أوافق عل <a href="#">سياسة
                                    الخصوصية</a> و <a href="#"> شروط وأحكام</a>منصة ايلاف ان</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">إنشاء حساب</button>
                        </div>
                    </form>
                    <div class="form-note-s2 text-center pt-4"> لدي حساب بالفعل؟
                        <a href="{% url 'main:login' %}">
                        <strong>
                            تسجيل الدخول
                        </strong>
                    </a>
                    </div>
{#                    <div class="text-center pt-4 pb-3">#}
{#                        <h6 class="overline-title overline-title-sap"><span>أو</span></h6>#}
{#                    </div>#}
{#                    <ul class="nav justify-center gx-8">#}
{#                        <li class="nav-item"><a class="nav-link" href="#">Facebook</a></li>#}
{#                        <li class="nav-item"><a class="nav-link" href="#">Google</a></li>#}
{#                    </ul>#}
                </div>
            </div>
        </div>

    </div>
{% endblock %}