

{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<body class="bg-white" onload="printPromot()">
    <div class="nk-block">
        <div class="invoice invoice-print">
            <div class="invoice-wrap">
                <div class="invoice-brand text-center">
                    <img src="{% static '/images/logo-dark.png' %}" srcset="./images/logo-dark2x.png 2x" alt="">
                </div>
                <div class="invoice-head">
                    <div class="invoice-contact">
                        <span class="overline-title">فاتورة الى </span>
                        <div class="invoice-contact-info">
                            <h4 class="title">Gregory Ander son</h4>
                            <ul class="list-plain">
                                <li><em class="icon ni ni-map-pin-fill"></em><span>House #65, 4328 Marion Street<br>Newbury, VT 05051</span></li>
                                <li><em class="icon ni ni-call-fill"></em><span>+012 8764 556</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="invoice-desc">
                        <h3 class="title">فاتورة</h3>
                        <ul class="list-plain">
                            <li class="invoice-id"><span>رقم الفاتورة</span>:<span>{{invoice.invoice_number}}</span></li>
                            <li class="invoice-date"><span>التاريخ</span>:<span>{{invoice.issue_date}}</span></li>
                        </ul>
                    </div>
                </div><!-- .invoice-head -->
                <div class="invoice-bills">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="w-150px">Item Code</th>
                                    <th class="w-60">البيان</th>
                                    <th>السعر</th>
                                    <th>الكمية</th>
                                    <th>المبلغ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#3H4J60</td>
                                    <td>Customer Relationship Management - Regular License</td>
                                    <td>$450.00</td>
                                    <td>5</td>
                                    <td>$2200.00</td>
                                </tr>
                                <tr>
                                    <td>24108054</td>
                                    <td>6 months premium support</td>
                                    <td>$250.00</td>
                                    <td>1</td>
                                    <td>$250.00</td>
                                </tr>
                                <tr>
                                    <td>23604094</td>
                                    <td>Invest Management Dashboard - Regular License</td>
                                    <td>$131.25</td>
                                    <td>1</td>
                                    <td>$131.25</td>
                                </tr>
                                <tr>
                                    <td>23604094</td>
                                    <td>6 months premium support</td>
                                    <td>$99.75</td>
                                    <td>1</td>
                                    <td>$99.75</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">Subtotal</td>
                                    <td>$2,681</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">رسوم المعالجة</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">الضريبة</td>
                                    <td>$43.50</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">إجمالي المبلغ</td>
                                    <td>$2,734.50</td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="nk-notes ff-italic fs-12px text-soft"> Invoice was created on a computer and is valid without the signature and seal. </div>
                    </div>
                </div><!-- .invoice-bills -->
            </div><!-- .invoice-wrap -->
        </div><!-- .invoice -->
    </div><!-- .nk-block -->
    <script>
        function printPromot() {
            window.print();
        }
    </script>
</body>


{% endblock %}